div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
table{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid ;
}
td, th{
    border: 1px solid ;
    padding: 10px;
}